<%- include('./inc/header'); %>
    <header>
        <%- include('./inc/topnav'); %>
    </header>

    <main>
        <div class="container-fluid">
            <div class="jumbotron text-center">
                <h1 class="display-4">About Us</h1>
                <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo, expedita explicabo
                    accusantium laborum amet adipisci facilis, velit, commodi totam impedit aliquid. Ducimus maiores ab
                    impedit, sunt enim in consequuntur mollitia.</p>
                <hr class="my-4">
                <a class="btn btn-primary btn-lg" href="#" role="button">Know more</a>
            </div>
        </div>
    </main>

    <%- include('./inc/footer'); %>