<%- include('./inc/header'); %>
    <header>
        <%- include('./inc/topnav'); %>
    </header>

    <main>
        <div class="container-fluid">
            <div class="jumbotron text-center">
                <h1 class="display-4">About Product</h1>
                <p class="lead">Measure your daily activity with a bar graph.</p>
                <hr class="my-4">
                <a class="btn btn-primary btn-lg" href="#" role="button">Know more</a>
            </div>
        </div>
    </main>

    <%- include('./inc/footer'); %>