<%- include('./inc/header'); %>
    <header>
        <%- include('./inc/topnav'); %>
    </header>

    <main>
        <div class="container-fluid">
            <div class="jumbotron text-center">
                <h1>Welcome <input type="text" class="form-control-sm" style="border:none; font-size: 25px;"
                        value=<%=uname %> onkeyup=saveUsername(this.value); >
                </h1>
                <p>Welcome to templating using EJS</p>
            </div>
        </div>
    </main>
    <script>
        function saveUsername(uname) {
            fetch('/saveuname', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ 'uname': uname })
            });
        }
    </script>
    <%- include('./inc/footer'); %>