<%- include('./inc/header'); %>
    <header>
        <%- include('./inc/topnav'); %>
    </header>

    <main>
        <div class="container-fluid">
            <div class="jumbotron text-center">
                <h1>This is great</h1>
                <p>Welcome to templating using EJS</p>
            </div>
        </div>
    </main>

    <%- include('./inc/footer'); %>